::selection {
    background-color: pink;
    color: hotpink;
}

* {
    box-sizing: border-box;
}

body {
background-color: rgb(245, 231, 214);
font: normal 14pt monospace;
}

header {
    color: rgb(255, 59, 157);
    text-align: center;
}

section {
 background-color: aliceblue;
 color: rgb(255, 57, 133);
 border-radius: 5px;
 padding: 1em;
 width: 31.25em;
 margin: auto; /*Margin: auto. centraliza???????? */
 box-shadow: 3px 3px 10px rgba(235, 150, 150, 0.705);
}

footer {
    color: hotpink;
    text-align: center;
    font-size: 12px;
}